name: Deploy para VM Local

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Deploy e Permissões
        run: |
          # Executa todos os comandos como root, ignorando a falha do PATH do sudo
          # O su -c executa o comando e sai.
          /usr/bin/su -c "mkdir -p /var/www/html/restaurant"
          /usr/bin/su -c "rm -rf /var/www/html/restaurant/*"
          /usr/bin/su -c "cp -R $GITHUB_WORKSPACE/* /var/www/html/restaurant/"
          /usr/bin/su -c "chown -R www-data:www-data /var/www/html/restaurant"
        shell: bash

      - name: Reiniciar Nginx
        run: /usr/bin/su -c "systemctl restart nginx"
        shell: bash
