name: Deploy para VM Local

on:
  push:
    branches:
      - main

jobs:
    deploy:
        runs-on: self-hosted

        steps:
            - name: Checkout do Código
              uses: actions/checkout@v4

            - name: Deploy e Permissões
              run: |
                  # Tenta executar o 'su -c' no PATH do runner (pode ser /bin/su)
                  # A string inteira após 'su -c' é executada como root
                  su -c "mkdir -p /var/www/html/restaurant && \
                          rm -rf /var/www/html/restaurant/* && \
                          cp -R $GITHUB_WORKSPACE/* /var/www/html/restaurant/ && \
                          chown -R www-data:www-data /var/www/html/restaurant"
              shell: bash

            - name: Reiniciar Nginx
              run: env PATH=/usr/bin:/bin:$PATH sudo systemctl restart nginx
              shell: bash
