name: Deploy para VM Local

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Deploy e Permissões
        run: |
          # Cria o diretório (este passo deve funcionar agora)
          sudo mkdir -p /var/www/html/restaurant
          # Remove arquivos antigos do destino (opcional, mas limpa)
          sudo rm -rf /var/www/html/restaurant/*
          # Copia todos os arquivos clonados do repositório (. por padrão) para o destino
          sudo cp -R . /var/www/html/restaurant/
          # Ajusta as permissões (importante para o Nginx/Web)
          sudo chown -R www-data:www-data /var/www/html/restaurant

      - name: Reiniciar Nginx
        run: sudo systemctl restart nginx
